<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue Computed Function</title>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
<style type="text/css">
p {width: 70px;height: 70px; display: inline-block; border:1px solid #000;}
    .blue{background:blue; }
    .green{background:green; }
    .black{background:black; }
    .red{background:red; }
</style>
</head>
<body>
    <div id="app">
        <template>
            <span>{{name}}</span>
           <span> {{ attachRed }}</span>
            <hr>
            <p :class="{red:attachRed}" @click="attachRed = !attachRed"></p>
            <p :class="{red:attachRed, green:!attachRed}"></p>
            <p :class="myclass"></p>
      <hr>
      <p :class="className"></p>    <!-- Applay class using property -->
      <p :class="[className,{red:attachRed }]"></p>    <!-- Applay class using in array with defalut property Note: AsObj don't forgot '{}'  -->
      <hr>
      <input type="text" v-model="className"> <b> Working pre define css class only </b>
      <hr>
      <p :style="{backgroundColor: cssData, height: cssHeight + 'px', width: cssHeight*1.5 +'px'}"></p> <b>Working with direct css property</b>
       <p :style="[myStyle, {transform: 'rotate('+ cssHeight*2 + 'deg)'}]"></p> <b>myStyle is computed all property  in single propertyName and  esay to manage </b>
      <hr>
       {{ cssData }} / 
      <input type="color" v-model="cssData">
      {{ cssHeight }} /
      <input type="range"  min="0" max="100" v-model="cssHeight">
     
     </template>
    </div>
    <script>
        new Vue({
            el:'#app',
            data:{
                name:"hi vue",
                attachRed:true,
                className:'black',
                cssData:'#22abd9',
                cssHeight:100,
            },
            computed:{
                myclass:function() {
                    return { red:this.attachRed, black:!this.attachRed }
                },
                myStyle:function(){
                    return {
                     backgroundColor: this.cssData,
                      height: this.cssHeight + 'px', 
                      width: this.cssHeight*1.5 +'px',
                      borderTopLeftRadius: this.cssHeight*2 +'px'
                  }
                }
            }

        });
    </script>
<hr>
   
</body>
</html>